body {
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
    font-family:
        Arial,
        Helvetica,
        sans-serif;
}

.game-area {
    background-color:#0F0F0F;
    margin: auto;
    top: auto;
}